*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #202342;
  
}
.Email_header-hede{
    position: relative;
    background-color:#31377D;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    top: -35px;
    align-items: center;
    margin: auto;
    z-index: 10;
    border-radius: 5px;
}
.main{
    position: relative;
    flex: 1;
    max-width: 100%;
    height: 100px;
    z-index: -500;

     
      background:-moz-linear-gradient(90deg, rgba(72, 0, 255, 1) 2%, rgba(238, 130, 238, 1) 100%); 

   
      background:-webkit-linear-gradient(90deg, rgba(72, 0, 255, 1) 2%, rgba(238, 130, 238, 1) 100%);
  
      background:-o-linear-gradient(90deg, rgba(72, 0, 255, 1) 2%, rgba(238, 130, 238, 1) 100%);
  
     
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee82ee', endColorstr='#4800FF', GradientType=0 );
  
     
      background:-ms-linear-gradient(90deg, rgba(72, 0, 255, 1) 2%, rgba(238, 130, 238, 1) 100%);
  
      
      background:linear-gradient(90deg, rgba(72, 0, 255, 1) 2%, rgba(238, 130, 238, 1) 100%);
    
}
.Email_header-title{
    
    display: flex;
    flex-direction: column;
   
}
.Email_header-title h1{
    margin: auto;
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 52px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #fff;
}
.Email_header-title p{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: gray;
    margin: 1em 1rem 2em;
    text-align: center!important;
    
}
.Email_header-button button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: -webkit-linear-gradient(
        -65deg,#c165dd,#1153fc);
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.Email_header-footer{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem auto;
}
.Email_header-footer h3{
    margin: auto;
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.04em;
    color: gray;
}
.Email_header-icon{
    display: flex;
    flex-direction: row;
   }
.Email_header-icon div{
     margin: 0 0.5rem;
     cursor: pointer;
   }
.Email_header-footer p{
    margin: auto;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 16px;
   
    color: #fff;
    
    text-align: center!important;
}



    
       
    

@media screen and (max-width: 490px) {
   
    .Email_header-hede{
     position: relative;
    background-color:#31377D;
    
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    
   
    top: -35px;
    align-items: center;
    margin: auto;
    z-index: 10;
    border-radius: 5px;
    }
    .Email_header-title h1{
       
        
        font-weight: 100;
        font-size: 42px;
        line-height: 55px;
        
    }
    .Email_header-title p{
     
        font-weight: 500;
        font-size: 16px;
        width: 200px;
       
    }
    .Email_header-footer h3{
       font-size: 25px;
       }
    .Email_header-footer p{
        font-weight: 300;
        font-size: 13px;
}
}
